{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в</span> onlineStore
                </h1>
            </div>
            <div id="next">
                <h2>Каталог товаров: </h2>
                {% for item in categories %}
                    <a href="{{ path('view-category', {'id': item.id}) }}" title="{{ item.description }}">{{ item.name }}</a>
                {% endfor %}

                <h2>Меню: </h2>
                <a href="{{ path('contacts') }}">Наши контакты</a>
                <a href="{{ path('products') }}">Все товары</a>
                <a href="{{ path('categories') }}">Все категории</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
   
{% endblock %}
