{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h2>Редактор категорий/товаров</h2>
        <p>
        <form action="{{ path('senddata') }}" method="post" enctype="multipart/form-data">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Наименование:</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                       name="title" required>
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Цена:</span>
                </div>
                <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                       name="price" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Подробное описание:</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" name="description" required></textarea>
            </div>
            Выберите категории:

            {% for item in categories %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{ item.id }}" name="category[]"
                           value="{{ item.id }}">
                    <label class="custom-control-label" for="{{ item.id }}">{{ item.name }}</label>
                </div>
            {% endfor %}

            <select class="custom-select"  name="brandId">
                {% for item in brands %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Цена со скидкой:</span>
                </div>
                <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                       name="discount">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Загрузить</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="img">
                    <label class="custom-file-label" for="inputGroupFile01">Выберите картинку</label>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
        </p>
        <p>
            <a href="{{ path('adminMainPage') }}" class="btn btn-secondary">На главную</a>
        </p>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock %}
