{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <a href="{{ path('homepage') }}">На главную</a>
                <h1><span>Наши товары:</span>
                </h1>
            </div>
            <div id="next">
                {% for item in products %}
                    <h2 title="Цена: {{ item.price }}"><a href="{{ path('view-product', {'id': item.id}) }}">{{ item.name }}</a></h2>
                    <p>
                        {#Price: {{ item.price }}<br> Description: {{ item.description }}#}
                    </p>
                {% endfor %}
                <a href="{{ path('homepage') }}">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
{% endblock %}
