{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="next">
                <h2>{{ product.name }}</h2>
                <p>
                    {% if(product.discount == 0) %} Цена: {{ product.price }} {% else %}
                    Цена: <s> {{ product.price }} </s> <b style="color: red">{{ product.discount }}</b>
                    {% endif %}
                    <br> Описание: {{ product.description }}
                </p>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
   
{% endblock %}
