{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <br>
        <a onclick="javascript:history.back(); return false;"type="button"
           class="btn btn-sm btn-outline-primary glyphicon-glyphicon-chevron-left">Назад</a>
        <br>
        <div class="row">
            <div class="col-md-6">
                {% if product.image is empty %}
                    <img src="{{ asset('defaultImg/noImage.png') }}"
                         class="img-fluid" alt="Responsive image"/>
                {% else %}
                    <img src="{{ asset('products/img/') }}{{ product.image }}"
                         class="img-fluid" alt="Responsive image"/>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ product.name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="monospaced">Уточняйте наличие товара у менеджера</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bottom-rule">
                        {% if(product.discount != 0) %}
                            <h2 class="product-price"><s
                                        style="color: red">{{ product.price }}</s> {{ product.discount }}с.</h2>
                        {% else %}
                            <h2 class="product-price">{{ product.price }} с.</h2>
                        {% endif %}
                    </div>
                </div><!-- end row -->
                <div class="row">
                    <div class="col-md-12 bottom-rule top-10"></div>
                </div><!-- end row -->

                <div class="row">
                    <div class="col-md-12 top-10">
                        <p>Для заказа по телефону, <a href="tel:+996550400647">звоните +996(550)400-647</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description">
                </p>
            </div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#description"
                   aria-controls="description"
                   role="tab"
                   data-toggle="tab"
                >Описание</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
                <p class="top-10">
                    {{ product.description }}
                </p>
                <p>
                    <small>
                        p.s. для получения подробной информации свяжитесь с <a href="{{ path('contacts') }}"> менеджером</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
    {% block stylesheets %}

    {% endblock %}
