{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в </span> onlineStore
                </h1>
            </div>
            <div id="next">
                {% if products|length > 0 %}
                    {% for key, items in products %}
                        {% for value in items %}
                            <h2 title="Цена: {{ value.price }}">{% if products|length > 0 %}<a
                                    href="{{ path('view-product', {'id': value.id}) }}">{{ value.name }}</a> {% endif %}
                            </h2>
                            <p>
                                Price: {{ value.price }}<br> Description: {{ value.description }}
                            </p>
                        {% endfor %}
                    {% endfor %}
                    {% else %}
                        <p>На данный момент товаров нет</p>
                {% endif %}
                <a href="{{ path('homepage') }}">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
