{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('homepage') }}" target="_blank">
                                <span data-feather="home"></span>
                                Перейти на сайт <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Создание категорий/товаров/брендов: </span>
                            <a class="d-flex align-items-center text-muted" href="#">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('editContact') }}">
                                <span data-feather="shopping-cart"></span>
                                Наши контакты
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('createProduct') }}">
                                <span data-feather="users"></span>
                                Содать новый товар
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('createCategory') }}">
                                <span data-feather="bar-chart-2"></span>
                                Создать новую категорию
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('createBrand') }}">
                                <span data-feather="layers"></span>
                                Создать новый бренд
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Списки категорий/товаров/брендов: </span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('productsLists') }}">
                                <span data-feather="file-text"></span>
                                Список товаров
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('brandsLists') }}">
                                <span data-feather="file-text"></span>
                                Список брендов
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('categoriesList') }}">
                                <span data-feather="file-text"></span>
                                Список категорий
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Акции/скидки и т.п.: </span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('stockListCat') }}">
                                <span data-feather="file-text"></span>
                                Акции по категориям
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('stockListBrand') }}">
                                <span data-feather="file-text"></span>
                                Акции по брендам
                            </a>
                        </li>
                        <a class="btn btn-info" href="{{ asset('/logout') }}" type="button">Выйти</a>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Главная Админ.панели</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        {#<div class="btn-group mr-2">#}
                        {#<button class="btn btn-sm btn-outline-secondary">Share</button>#}
                        {#<button class="btn btn-sm btn-outline-secondary">Export</button>#}
                        {#</div>#}
                        {#<button class="btn btn-sm btn-outline-secondary dropdown-toggle">#}
                        {#<span data-feather="calendar"></span>#}
                        {#This week#}
                        {#</button>#}
                    </div>
                </div>
                <i style="color: red;">ВНИМАНИЕ!</i>
                <p>Если вы зашли сюда первый раз, то прочтите правила пользования админ.панелью ниже</p>
                <p>Алгоритм создания товара на раз, два, три: </p>
                <ul>
                    <li>Раз. Создайте бренд кликнув в меню "<a href="{{ path('createBrand') }}">
                            Создать новый бренд
                        </a>"
                    </li>
                    <li>Два. Создайте новую категорию кликнув "<a href="{{ path('createCategory') }}">Создать новую
                            категорию</a>"
                    </li>
                    <li>Три. И наконец создайте товар, нажав на кнопку "<a href="{{ path('createProduct') }}">Создать
                            новый
                            товар</a>"
                    </li>
                </ul>
                <ul>
                    <li>Перед созданием товара, убедитесь, что существует "Бренд" и "Категория" к будущему товару</li>
                    <li>Если не загрузить картинку товара, то будет автоматически загружена картинка по умолчанию ("нет
                        изображения")
                    </li>
                </ul>

                <h2>Список товаров: </h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Наименование</th>
                            <th>Описание</th>
                            <th>Цена</th>
                            <th>Цена со скидкой</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in products|sort|reverse %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description |slice(0,50) }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.discount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
