{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Добро пожаловать в </span> админ.панель
                </h1>
                <p>
                    <a href="{{ path('adminMainPage') }}">Перейти в главное меню</a>
                </p>
            </div>
            <div id="next">
                <h2>Редактор товаров</h2>
                <form action="{{ path('admin-save-product', {'id': product.id}) }}" method="post"
                      enctype="multipart/form-data">
                    <label for="productName">Наименование товара: </label>
                    <input type="text" value="{{ product.name }}" id="productName" name="productName">
                    <br>
                    <label for="productPrice">Цена товара без скидки: </label>
                    <input type="text" value="{{ product.price }}" id="productPrice" name="productPrice">
                    <br>
                    <label for="productDiscount">Цена товара со скидкой: </label>
                    <input type="text" value="{{ product.discount }}" id="productDiscount" name="productDiscount">
                    <br>
                    <label for="productDescription">Описание товара: </label>
                    <textarea id="productDescription" name="productDescription">{{ product.description }}</textarea>
                    <br>
                    {% for item in categories %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ item.id }}" name="category[]"
                                   value="{{ item.id }}">
                            <label class="custom-control-label" for="{{ item.id }}">{{ item.name }}</label>
                        </div>
                    {% endfor %}
                    <br>
                    <input type="file" name="img">
                    <button class="btn-done" type="submit">Send</button>
                </form>
                <hr>
                <div id="next">
                    <h2>Предпросмотр: </h2>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            {% if product.image is empty %}
                                <a href="#">
                                    <img class="card-img-top" src="{{ asset('defaultImg/noImage.png') }}"
                                         alt="Card image cap">
                                </a>
                            {% else %}
                                <a href="#">
                                    <img class="card-img-top" src="{{ asset('products/img/') }}{{ product.image }}"
                                         alt="Card image cap">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <p style="text-align: center; color: blue; font-size: large;">{{ product.name }}</p>
                                <p class="card-text">{{ product.description |slice(0,50) }}...</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" type="button"
                                           class="btn btn-sm btn-outline-primary">Посмотреть</a>
                                        {% if(product.discount != 0) %}
                                            <a href="#" type="button"
                                               class="btn btn-sm btn-danger">Скидка</a>
                                        {% endif %}
                                    </div>

                                    {% if(product.discount == 0) %}
                                        <big class="text-muted">{{ product.price }} сомов</big>
                                    {% else %}
                                        <small class="text-muted"
                                               style="text-decoration: line-through;">{{ product.price }}</small>
                                        <big class="text-muted">{{ product.discount }} сомов</big>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
