{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Редактор акций на категории</h1>
            <p class="lead text-muted">
                Тут вы можете создать акции на категории.
            </p>
            <p>
                <a href="{{ path('adminMainPage') }}" class="btn btn-secondary">На главную страницу</a>
            </p>
        </div>
    </section>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h2>Редактор акций на категории</h2>
        <p>
        <form action="{{ path('saveStockCat') }}" method="post" enctype="multipart/form-data">
            Выберите категории:
            <select class="custom-select"  name="categoryId">
                {% for item in categories %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Цена со скидкой в %:</span>
                </div>
                <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                       name="discount" required>
            </div>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
        </p>
        <p>
            <a href="{{ path('adminMainPage') }}" class="btn btn-secondary">На главную</a>
        </p>
    </main>
{% endblock %}

{% block stylesheets %}

{% endblock %}
