{% extends 'base.html.twig' %}

{% block body %}
    {#<div id="wrapper">#}
    {#<div id="container">#}
    {#<div id="next">#}
    {#{% for item in products %}#}
    {#<p><a href="{{ path('view-product', {'id': item.id}) }}">{{ item.name }}</a></p>#}
    {#{% endfor %}#}

    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div id="wrapper">#}
    {#<div id="container">#}
    {#<div style="margin-top: 40px;margin-right: 5px; margin-left: 20px">#}
    {#<h3 style="font-size: 21px;color: #0088CC;">{% for itemd in brand %}#}
    {#<span>Все товары бренда {{ itemd.name }}:</span>#}
    {#</h3>{% endfor %}#}
    {#</div>#}

    {#<div id="next">#}
    {#<div style="margin-right: 5px; margin-left: 5px;">#}
    {#<div style="min-height: 600px;">#}
    {#{% for item in products %}#}
    {#<div style="width: 25%; float: left; position: relative; min-height: 1px;#}
    {#padding-right: 15px; padding-left: 15px;">#}
    {#<div style="border: 1px solid #ddddff; margin-bottom: 20px; overflow: auto; box-sizing: border-box;">#}
    {#<div style="text-align: center">#}
    {#{% if item.image is empty %}#}
    {#<a href="{{ path('view-product', {'id': item.id}) }}">#}
    {#<img src="{{ asset('defaultImg/noImage.png') }}"#}
    {#alt="{{ item.name }}" title="{{ item.name }}" style="vertical-align: middle;"/></a>#}
    {#{% else %}#}
    {#<a href="{{ path('view-product', {'id': item.id}) }}">#}
    {#<img src="{{ asset('products/img/') }}{{ item.image }}"#}
    {#alt="{{ item.name }}" title="{{ item.name }}" style="vertical-align: middle;"/></a>#}
    {#{% endif %}#}
    {#</div>#}
    {#<div style="padding: 0 20px; min-height: 180px">#}
    {#<h4><a href="{{ path('view-product', {'id': item.id}) }}">{{ item.name }}</a>#}
    {#</h4>#}
    {#<p>{{ item.description |slice(0,150) }}</p>#}
    {#<p style="color: black; margin: 0 0 10px;">#}
    {#{% if(item.discount == 0) %}#}
    {#<span style="font-weight: 600;">{{ item.price }} сом</span>#}
    {#{% else %}#}
    {#<span style="font-weight: 600;color: red;">{{ item.price }}#}
    {#сом</span>#}
    {#<span style="color: #999; text-decoration: line-through; margin-left: 10px;">{{ item.discount }}#}
    {#сом</span>#}
    {#{% endif %}#}
    {#</p>#}
    {#</div>#}
    {#<div style="border-top: 1px solid #ddd; background-color: #eee; overflow: auto;">#}
    {#<button style="width: 100%; border: none; display: inline-block; float: left; background-color: #eee; color: #444;#}
    {#line-height: 38px; font-weight: bold; text-align: center; text-transform: uppercase;">#}
    {#<i class="fa fa-shopping-cart"></i>#}
    {#<span>Заказать</span>#}
    {#</button>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Все товары бренда {% for itemd in brand %} {{ itemd.name }} {% endfor %}</h1>
            <p class="lead text-muted">Тут вы сможете найти абсолютно все товары этого замечательного магазина. Так же
                вы можете получить грандиозную скидку купив всего лишь контрольный пакет акций этого же магазина)</p>
            <p class="lead text-muted">
                Так же вы можете посмотреть товары по брендам, нажав кнопку:
            </p>
            <p>
                <a href="{{ path('brands') }}" class="btn btn-primary my-2">Все бренды</a>
            </p>
        </div>
    </section>
    <small><a href="/">Главная </a>/ <a href="{{ path('brands') }}">Все бренды </a></small><small style="color: gray;">/ {% for itemd in brand %} {{ itemd.name }} {% endfor %}</smaill>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% if products|length > 0 %}
                    {% for item in products|sort|reverse %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                {% if item.image is empty %}
                                    <a href="{{ path('view-product', {'id': item.id}) }}">
                                        <img class="card-img-top" src="{{ asset('defaultImg/noImage.png') }}"
                                             alt="Card image cap">
                                    </a>
                                {% else %}
                                    <a href="{{ path('view-product', {'id': item.id}) }}">
                                        <img class="card-img-top" src="{{ asset('products/img/') }}{{ item.image }}"
                                             alt="Card image cap">
                                    </a>
                                {% endif %}
                                <div class="card-body">
                                    <p style="text-align: center; color: blue; font-size: large;">{{ item.name }}</p>
                                    <p class="card-text">{{ item.description |slice(0,50) }}...</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('view-product', {'id': item.id}) }}" type="button"
                                               class="btn btn-sm btn-outline-primary">Посмотреть</a>
                                            {% if(item.discount != 0) %}
                                                <a href="{{ path('view-product', {'id': item.id}) }}" type="button"
                                                   class="btn btn-sm btn-danger">Скидка</a>
                                            {% endif %}
                                        </div>
                                        {% if(item.discount == 0) %}
                                            <big class="text-muted">{{ item.price }} сом</big>
                                        {% else %}
                                            <small class="text-muted"
                                                   style="text-decoration: line-through;">{{ item.price }}</small>
                                            <big class="text-muted">{{ item.discount }} сом</big>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="text-align: center; color: blue; font-size: large;">К сожалению на данный момент товаров нет</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
