{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Результат вашего поиска</h1>
            <p class="lead text-muted">Тут вы сможете найти абсолютно все товары этого замечательного магазина. Так же
                вы можете получить грандиозную скидку купив всего лишь контрольный пакет акций этого же магазина)</p>
            <p class="lead text-muted">
                Так же вы можете посмотреть товары по брендам, нажав кнопку:
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">Все бренды</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for item in result %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            {% if item.image is empty %}
                                <a href="{{ path('view-product', {'id': item.id}) }}">
                                    <img class="card-img-top" src="{{ asset('defaultImg/noImage.png') }}"
                                         alt="Card image cap">
                                </a>
                            {% else %}
                                <a href="{{ path('view-product', {'id': item.id}) }}">
                                    <img class="card-img-top" src="products/img/{{ item.image }}" alt="Card image cap">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <p style="text-align: center; color: blue; font-size: large;">{{ item.name }}</p>
                                <p class="card-text">{{ item.description |slice(0,50) }}...</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ path('view-product', {'id': item.id}) }}" type="button"
                                           class="btn btn-sm btn-outline-primary">Посмотреть</a>
                                        {% if(item.discount != 0) %}
                                            <a href="{{ path('view-product', {'id': item.id}) }}" type="button"
                                               class="btn btn-sm btn-danger">Скидка</a>
                                        {% endif %}
                                    </div>
                                    {% if(item.discount == 0) %}
                                        <big class="text-muted">{{ item.price }} сомов</big>
                                    {% else %}
                                        <small class="text-muted"
                                               style="text-decoration: line-through;">{{ item.price }}</small>
                                        <big class="text-muted">{{ item.discount }} сомов</big>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
